<a href="https://colab.research.google.com/github/rubaabirami/Python/blob/main/Google_collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

System specification

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
!cat /proc/meminfo

MemTotal:       13289424 kB
MemFree:         9369624 kB
MemAvailable:   12164228 kB
Buffers:          138276 kB
Cached:          2851208 kB
SwapCached:            0 kB
Active:           468116 kB
Inactive:        3231100 kB
Active(anon):       1736 kB
Inactive(anon):   710584 kB
Active(file):     466380 kB
Inactive(file):  2520516 kB
Unevictable:           8 kB
Mlocked:               8 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               300 kB
Writeback:             0 kB
AnonPages:        709784 kB
Mapped:           435900 kB
Shmem:              2580 kB
KReclaimable:      97292 kB
Slab:             133996 kB
SReclaimable:      97292 kB
SUnreclaim:        36704 kB
KernelStack:        5236 kB
PageTables:        11880 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6644712 kB
Committed_AS:    2711244 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       11860 kB
VmallocChunk:          0 kB
Percpu:             1072 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       64304 kB
DirectMap2M:     5175296 kB
DirectMap1G:    10485760 kB

Installing libraries

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
df =pd.read_csv('/content/HousingData.csv')

In [ ]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [ ]:
print('Machine learning')

Machine learning

In [ ]:
!ls

HousingData.csv  sample_data

Programming language used for machine learning:
1.Python
2.R

#Print function

In [ ]:
print("Machine learning")

Machine learning

In [ ]:
print("Machine learning" + " projects")

Machine learning projects

In [ ]:
print(8)

8

In [ ]:
print(8+3)

11

Basic data Types

1.int
2.float
3.str

In [ ]:
type(8)

int

In [ ]:
type(5.3)

float

In [ ]:
type("English")

str

4.complex
5.booleen

In [ ]:
#complex numbers
c=1+ 3j
print(c)
type(c)

(1+3j)

complex

In [ ]:
#int to float
x=10
print(x)
type(x)
y= float(x)
print(y)
type(y)

10
10.0

float

In [ ]:
#float to int
x=5.8
print(x)
type(x)

5.8

float

In [ ]:
y=int(x)
print(y)
type(y)

5

int

Boolean
1.true
2.false

In [ ]:
a=True
print(a)
type(a)

True

bool

In [ ]:
b=False
print(b)
type(b)

False

bool

In [ ]:
a= 7<3
print(a)
type(a)

False

bool

In [ ]:
print("hello" * 5)

hellohellohellohellohello

Slicing

In [ ]:
my_string="programming"

In [ ]:
print(my_string[1:5])

rogr

In [ ]:
print(my_string[0:10:2])

pormi

String concatenation

In [ ]:
word_1="Machine"
word_2="Learning"
print(word_1 + word_2)

MachineLearning

#constant and variable

In [ ]:
superhero = "iron man"
print(superhero)

iron man

In [ ]:
super_hero = "iron man"
print(super_hero)

iron man

In [ ]:
hero1,hero2,hero3= "ironman","captain america","batman"
print(hero1)
print(hero2)
print(hero3)

ironman
captain america
batman

In [ ]:
x=y=z= 23
print(x)

23

#Input function

In [ ]:
number_1= input("Enter first number:")
number_2= input("Enter second number:")
sum= number_1 + number_2
print(sum)

Enter first number:10
Enter second number:20
1020

In [ ]:
number_1= int(input("Enter first number:"))
number_2= int(input("Enter second number:"))
sum= number_1 + number_2
print(sum)

Enter first number:10
Enter second number:20
30

In [ ]:
# changing the data type in python:
num =5
print(float(num))

5.0

Types of object in Python
1.Immutable objects #value cannot be changed once created
a.int
b.float
c.bool
d.string
e.tuple
2.Mutable object: #value can be changed after creation
a.List
b.Set
c.Dictionary

List:
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.
List can contain multiple datatypes.


List items are ordered, changeable, and allow duplicate values.

In [ ]:
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
my_list=[2,3,1.8,'english',True]
print(my_list)

[2, 3, 1.8, 'english', True]

In [ ]:
#list are mutable--> changable
my_list=[2,3,1.8,'english',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'english', True, 6]

In [ ]:
print(my_list[0])
print(my_list[2])

2
1.8

In [ ]:
#list allow duplicate values
list_1=[1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [ ]:
print(len(list_1))

8

In [ ]:
#initiating an empty list
list_2=[]
print(list_2)

[]

In [ ]:
list_2.append(5)
print(list_2)

[5]

In [ ]:
#del an item on list
list_2=[1,2,3,4,5,6]
print(list_2)
del list_2[2]
print(list_2)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
#join two list
list_3=[1,2,3,4]
list_4=[5,6,7,8]
list_5=list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8]

Tuples:
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
tuple_1=(2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [ ]:
#converting list to tuple
my_list=[3,4,5,6]
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

Tuples are immutable -->unchangable

In [ ]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(len(my_tuple))

4

Set:
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.
Sets are written with curly brackets.
Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
#set--> curly brackets
my_set={1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
#unindexed
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#converting list to set
my_list=[2,3,4,5,6]
print(my_list)
my_set=set(my_list)
print(my_set)

[2, 3, 4, 5, 6]
{2, 3, 4, 5, 6}

In [ ]:
#set doesnot allow repeated value
set_1={1,2,3,4,5,1,2,3}
print(set_1)

{1, 2, 3, 4, 5}

Dictionary:
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values.
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [ ]:
#key pair values
my_dictionary={"name":"john","age":34}
print(my_dictionary)
type(my_dictionary)

{'name': 'john', 'age': 34}

dict

In [ ]:
print(my_dictionary['name'])

john

Operators in python:


1.   Arithmetic Operator
2.   Assignment Operator

1. Comparison Operator
2.   Logical Operator

1.   Identity Operator
2.  Membership Operator

1.Arithmetic Operator

In [ ]:
num_1=20
num_2=30
#addition
sum=num_1 +num_2
print('sum=',sum)

sum= 50

If-else statement

In [17]:
a=30
b=50
if (a>b):
  print("a is greater than b")
else:
  print("b is greater than a")

b is greater than a

In [19]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
if (a>b):
  print("a is greater than b")
else:
  print("b is greater than a")

Enter first number:15
Enter second number:30
b is greater than a

In [20]:
a=15
b=40
c=35
if (b<a>c):
  print("a is the greatest number")
elif (a<b>c):
  print("b is the greatest number")

b is the greatest number

Loops in Python